@model GoSharpProject.Models.ViewModels.ShoppingCartViewModel
@{
    ViewBag.Title = "Cart";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>E-commerce shoping cart</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>E-commerce</a>
            </li>
            <li class="active">
                <strong>Shoping cart</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-md-9">
            <div class="ibox">
                <div class="ibox-title">
                    <span class="pull-right">(<strong id="cart-total-count">@Model.ItemsCount</strong>) items</span>
                    <h5>Items in your cart</h5>
                </div>
                @foreach (var item in Model.CartRecords)
                {
                    <div id="row-@item.SiteTemplate.Id" class="ibox-content">
                        <div class="table-responsive">
                            <table class="table shoping-cart-table">
                                <tbody>
                                    <tr>
                                        <td width="90">
                                            @if (item.SiteTemplate.InternalImage != null)
                                            {
                                                <img style="width: 100%" src="@Url.Action("RenderImage", new {id = item.SiteTemplate.Id})" />
                                            }
                                            else
                                            {
                                                <div class="cart-product-imitation"></div>
                                            }
                                        </td>
                                        <td class="desc">
                                            <h3>
                                                <a href="@Url.Action("Details", new {id = item.SiteTemplate.Id})" class="text-navy">
                                                    @item.SiteTemplate.Name
                                                </a>
                                            </h3>
                                            <p class="small">
                                                @item.SiteTemplate.ShortDescription
                                            </p>
                                            <dl class="small m-b-none">
                                                <dt>@Html.DisplayNameFor(model => item.SiteTemplate.Category)</dt>
                                                <dd>@Html.DisplayFor(model => item.SiteTemplate.Category)</dd>
                                            </dl>
                                            <div class="m-t-sm">
                                                <a href="#" class="text-muted" id="btn-remove-cart-item" data-id="@item.SiteTemplate.Id"><i class="fa fa-trash"></i> Remove item</a>
                                            </div>
                                        </td>
                                        <td>
                                            $@item.SiteTemplate.Price
                                        </td>
                                        <td width="65">
                                            <span id="item-count-@item.SiteTemplate.Id">@item.Count</span>
                                        </td>
                                        <td>
                                            <h4>
                                                $<span id="item-total-price-@item.SiteTemplate.Id">@(item.SiteTemplate.Price * item.Count)</span>
                                            </h4>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-md-3">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Cart Summary</h5>
                </div>
                <div class="ibox-content">
                    <span>
                        Total
                    </span>
                    <h2 class="font-bold">
                        $<span id="cart-total-price">@Model.TotalPrice</span>
                    </h2>
                    <hr />
                    <span class="text-muted small">
                        *For United States, France and Germany applicable sales tax will be applied
                    </span>
                    <div class="m-t-sm">
                        <div class="btn-group">
                            @using (Html.BeginForm("Checkout", "ShoppingCart", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <input type="submit" value="Checkout" class="btn btn-primary btn-sm" />
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Support</h5>
                </div>
                <div class="ibox-content text-center">

                    <h3><i class="fa fa-phone"></i> +43 100 783 001</h3>
                    <span class="small">
                        Please contact with us if you have any questions. We are avalible 24h.
                    </span>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btn-remove-cart-item").click(() => {
                // Get the id from the link
                var id = $("#btn-remove-cart-item").attr("data-id");
                if (id) {
                    $.ajax({
                        type: "POST",
                        data: { id: id },
                        url: "/ShoppingCart/RemoveFromCart",
                        success: (data) => {
                            if (data.ItemCount === 0) {
                                $('#row-' + data.DeleteId).fadeOut('slow');
                            } else {
                                $('#item-count-' + data.DeleteId).text(data.ItemCount);
                            }
                            $('#cart-total-price').text(data.CartTotal);
                            $('#cart-count-label').text(data.CartCount);
                            $('#cart-total-count').text(data.CartCount);
                        },
                    });
                }
            });
        });
    </script>
}